<div class="col-xs-12 col-md-4">
  <div class="card card-<%= cycle('male', 'female') %>">
    <div class="card-block">
      <h4 class="card-title"><%= user.try(:name) %></h4>
      <% if Friendship.between(current_user.id,user.id).present? %>
        <%= link_to "Remove friend", Friendship.between(current_user.id,user.id).first, method: :delete, class: "btn btn-danger" , 
        data: {confirm: "Are your sure to unfriend with #{user.name}?"}%>
      <% else %>
        <%= link_to "Add friend", friendships_path(:friend_id => user), method: :post, class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>